body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.project {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.project:hover {
    background-color: #f5f5f5;
}

.highlight {
    background-color: yellow;
}


.highlighted {
    background-color: yellow;
}
